@mixin themeButton($theme) {
  color: $theme;
}

@mixin border($theme) {
  border: 1.5px solid $theme;
  border-radius: 0.3rem;
}

@mixin base {
  margin: 0;
  display: flex;
  justify-content: center;
}

.primary.dark {
  @include base;
  @include themeButton(theme('colors.primary-light'));
}

.primary.light {
  @include base;
  @include themeButton(theme('colors.primary-dark'));
}

.secondary.light {
  @include base;
  @include themeButton(theme('colors.neutral-800'))
}

.secondary.dark {
  @include base;
  @include themeButton(theme('colors.secondary-light'))
}

.primary.light.border {
  @include border(theme('colors.primary-dark'))
}

.primary.dark.border {
  @include border(theme('colors.primary-light'))
}

.secondary.light.border {
  @include border(theme('colors.neutral-800'))
}

.secondary.dark.border {
  @include border(theme('colors.secondary-light'))
}