.typo {

}

h1 {
  @apply text-3xl
}

h2 {
  @apply text-2xl
}

h3 {
  @apply text-xl
}

h4 {
  @apply text-lg
}

h5 {
  @apply text-lg sm:text-base
}

h6 {
  @apply text-base sm:text-sm
}

h1, h2, h3, h4, h5, h6, p {
  font-family: Roboto, serif;
  width: 100%;
}

h1.primary.dark,
h2.primary.dark,
h3.primary.dark,
h4.primary.dark,
h5.primary.dark,
h6.primary.dark {
  color: theme('colors.primary-light')
}
h1.secondary.dark,
h2.secondary.dark,
h3.secondary.dark,
h4.secondary.dark,
h5.secondary.dark,
h6.secondary.dark {
  color: theme('colors.secondary-light')
}

h1.primary.light,
h2.primary.light,
h3.primary.light,
h4.primary.light,
h5.primary.light,
h6.primary.light {
  color: theme('colors.primary-dark')
}

h1.secondary.light,
h2.secondary.light,
h3.secondary.light,
h4.secondary.light,
h5.secondary.light,
h6.secondary.light {
  color: theme('colors.secondary-dark')
}

p {
  @apply text-[17px]
}